.body {
  height: 100vh;
  background-color: #313142;
}
.whole {
  width: 50%;
  height: auto;
  background-color: #444354;
  margin-top: 10vh;
}

.addBudget {
  width: 90%;
  height: 6vh;
  background-color: lightgreen;
  font-weight: 600;
  outline: none;
  border: none;
  color: #313142;
}

.addBudget:hover {
  background-color: #313142;
  color: white;
}
.viewBudgets {
  width: 90%;
  height: 6vh;

  font-weight: 600;
  outline: none;
  border: none;
  color: #313142;
}
